@use 'sass:math';
@use '../functions/utils';

$ui-breakpoints: (
    xs: 0,
    sm: utils.px-to-rem(320px),
    md: utils.px-to-rem(768px),
    lg: utils.px-to-rem(1024px),
    xl: utils.px-to-rem(1200px),
);