@use '../functions/utils';

$gutter-vertical: utils.px-to-rem(16px);
$gutter-horizontal: (
  xs: utils.px-to-rem(16px),
  sm: utils.px-to-rem(16px),
  md: utils.px-to-rem(32px),
  lg: utils.px-to-rem(32px),
  xl: utils.px-to-rem(32px),
);
$num-columns: 12;
